{% extends 'base.html.twig' %}

{% block title %}callender{% endblock %}

{% block stylesheets %}
    <style>
        #calendrier{
            width: 80%;
            margin: auto;
        }
    </style>
{% endblock %}
    {% block body %}
        <div id="calendrier">
            <a href="{{ path('ajouterE')}}">Ajouter un evenement</a>


            {{ dump(data) }}

        </div>
    {% endblock %}
    {% block javascripts %}
        <script>
            window.onload= () => {
                let calendarElt = document.querySelector("#calendrier")

                let calendar = new FullCalendar.Calendar(calendarElt,{
                    initialView: 'dayGridMonth',
                    dayMaxEventRows: true,
                    locale: 'fr',
                    timeZone: 'Tunis',
                    headerToolbar: {
                        start: 'prev,next,today',
                        center: 'title',
                        end:'dayGridMonth,timeGridWeek'
                    },
                    events: {{ data|raw }},
                    editable: true,
                    eventResizableFromStart: true,
                    selectable:true
                })

                calendar.on('eventChange',(e)=> {



                    let url = `/api/${e.event.id}/edit`
                    let donnees = {
                        "title": e.event.title,
                        "description":e.event.extendedProps.description,
                        "start": e.event.start,
                        "end": e.event.end,
                        "borderColor": e.event.borderColor,
                        "allDay": e.event.allDay
                    }
                    console.log(donnees)
                    let xhr = new XMLHttpRequest
                    xhr.open("PUT",url)
                    xhr.send(JSON.stringify(donnees))
                })
                calendar.render()
            }
        </script>
{% endblock %}
